.container-main{
    width: 100%;
    height: 500px;
    border: 10px solid #000;
}

.sidebar{
    background-color: blue;
    float: left;
    width: 30%;
    height: 100%;
}

.content{
    background-color: red;
    float: right;
    width: 60%;
    height: 100%;
    margin-left: 10%;
}

/* margin left rappresenta lo spazio tra le due colonne cioè gutter*/